* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #f4f9fa;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.intro {
    height: 200px;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1a2432;
}

.intro p {
    font-style: italic;
    font-weight: 100;
}
.about-me{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: #ffffff;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.about-me p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.edu{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: #dcf2fe;
    /* height: 200px; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.edu p{
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    height: fit-content;
    background-color: #ffffff;
}
.skills{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: #fdf3bf;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.skills p{
    border-radius: 7px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    height: fit-content;
    background-color: #ffffff;
}
.projects{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: #eceafe;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.projects p{
    font-style: italic;
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    height: fit-content;
    background-color: #ffffff;
}
.contact-me{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: #d8f7e2;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact-me p{
    font-style: italic;
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    height: fit-content;
    background-color: #ffffff;
}
.footer {
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1a2432;
}

.footer p {
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: italic;
    font-weight: 100;
}